%tr
  %td
    =link_to debt.id, debt_path(debt.id)
  %td
    =link_to "#{number_to_currency debt.pending_balance, :unit => '$'}", debt_path(debt.id)
  %td
    =I18n.l debt.incurred_debt_date, :format => I18n.t('debts_views.date_format')
  %td
    =link_to debt.debtor.name, debtor_path(debt.debtor.id)